.speaches {
	&__block {
		padding: 45px 0 65px;
	}
	&__title {
		font-size: 24px;
		font-weight: bold;
		line-height: 92%;
	}
	&__list {
		display: flex;
		flex-direction: column;
		margin-top: 35px;
	}
	&__item {
	}

	.speach {
		display: flex;
		flex-direction: column;
		&__caption {
			display: flex;
		}
		&__text-block {
			display: flex;
			flex-direction: column;
		}
	}

	.caption {
		&__img-wrapper {
			position: relative;
			height: 110px;
			width: 110px;
			& > picture {
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}
		&__img {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&__content {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			padding: 0 16px;
			row-gap: 8px;
		}
		&__fullname {
			@include body2-font;

			font-weight: bold;
			line-height: 130%;
		}
		&__position {
			@include body2-font;

			line-height: 150%;
		}
		.socials {
			// opacity: 0;
			// display: none;
			&__link {
				margin-right: 32px;
				&>img {
					filter: invert(74%) sepia(1%) saturate(137%) hue-rotate(314deg) brightness(75%) contrast(88%);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.speaches {
		&__block {
			margin-top: 48px;
			padding: 0;
		}
		&__title {
			font-size: 48px;
			line-height: 64px;
		}
		&__list {
			margin-top: 89px;
		}
	}
}

@media (min-width: 1025px) {
	.speaches {
		&__block {
			margin: 0;
			padding: 0;
		}
		&__list {
			margin-top: 89px;
		}
	}
}
