$blue2: #73b3ff;
$blue3: #93e1fa;
$dark-gray: #1f1f21;
$gold: #ffe43f;
$gray: #8c8c8c;
$grapefruit: #ffab7c;
$green1: #7cfd89;
$green2: #a3fa95;
$helium: #c988f1;
$light-gray: #f2f2f2;
$magenta: #f586e4;
$orange: #ffba69;
$orange2: #feba69;
$peach-pink: #fe8b8b;
$purple-light: #b8b7ff;
$purple1: #5201fe;
$purple2: #7673fe;
$red: #fa5757;
$salad-green: #d6f287;
$white: #fff;
$yellow-hover: #ffe967;
$yellow-pressed: #f6c71f;
$yellow:#ffe43f;
$disable: #5c5c5c;
// array of colors for custom selectors
$colors: (red: $red, helium: $helium, blue2: $blue2,
green2: $green2, yellow: $yellow, green1: $green1,
magenta: $magenta, orange: $orange, orange2: $orange2,
purple2: $purple2, peach-pink: $peach-pink, salad-green:
$salad-green, yellow-pressed: $yellow-pressed, blue3: $blue3,
grapefruit: $grapefruit, purple-light: $purple-light);
