@font-face {
    font-family: 'noto_sans_regular';
    src: url('../assets/fonts/Noto_Sans/notosans-regular.woff2') format('woff2'),
         url('../assets/fonts/Noto_Sans/notosans-regular.woff') format('woff');
}

@font-face {
    font-family: 'noto_sans_bold';
    src: url('../assets/fonts/Noto_Sans/notosans-bold.woff2') format('woff2'),
         url('../assets/fonts/Noto_Sans/notosans-bold.woff') format('woff');
}