@import "./mixins.scss";
@import "./colors.scss";

.header {
  padding: 16px 0 7px 0;
  position: sticky;
  top: 0;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    flex: 0 0 187px;
    height: 102px;
    margin-right: 15px;
  }

  &__logo > img {
    width: 100%;
    object-fit: contain;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(max-content, 634px) minmax(max-content, 372px);
    grid-template-rows: min-content 1fr;
    row-gap: 15px;
  }
}

.content {
  .menu {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__link {
      @include body2-font;
    }
  }

  .lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0 0 0;

    &__speech {
      @include body2-font;

      margin-right: 12px;
    }

    &__select {
      @include body2-font;

      display: flex;

      & > img {
        width: 100%;
        object-fit: contain;
      }
    }

    &__arrow {
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .mail {
    display: flex;
    flex-direction: column;

    &__descr {
      @include body2-font;

      color: $gray;
    }

    & > a {
      @include body2-font;

      color: $gold;
      text-decoration: underline;
    }
  }

  .socials {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}

.burger {
  display: none;

  &__label {
    @include body2-font;
  }

  &__button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 960px) {
  .header {
    &__logo {
      height: 60px;
      flex-basis: 110px;
    }

    &__content {
      display: none;
    }
  }

  .burger {
    align-items: center;
    display: flex;
    padding: 16px 20px 0 0;

    &__label {
      margin-right: 12px;
    }

    &__button {
      position: relative;
      width: 28px;
      height: 20px;

      & > span {
        display: block;
        background-color: #fff;
        content: '';
        height: 3px;
        position: absolute;
        top: 0;
        width: 100%;

        &:nth-of-type(2) {
          top: 8.7px;
        }

        &:nth-of-type(3) {
          margin-top: 17.4px;
        }
      }
    }
  }
}
