@import "~normalize.css";
@import "./colors.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./header.scss";

*,
*::before,
*::after {
  @include body1-font;

  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #000;
  height: 200vh;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 110%;
  margin: 0;
}

h2 {
  font-family: "noto_sans_bold", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 133%;
}

h3,
h4 {
  font-family: "noto_sans_bold", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 130%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// declare container-block
.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 15px;
}
